<a href="https://colab.research.google.com/github/Kamal-Moha/Food-Sales-Predictions/blob/main/Food_Sales_Prediction_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
filename = '/content/drive/MyDrive/CODING DOJO DS BOOTCAMP/02 Week 2: Pandas/Assignments/Core Assignments/sales_predictions.csv'

In [3]:
df = pd.read_csv(filename)

In [4]:
df.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

1. **How many rows and columns?**

In [5]:
df.shape

(8523, 12)

2. **What are the datatypes of each variable?**

In [6]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

3. **Are there duplicates? If so, drop any duplicates.**

In [7]:
df.duplicated().sum()

0

It looks like our dataset doesn't contain any duplicates which is a good thing

4. **Identify missing values.**

In [8]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

It looks like the columns Item_Weight and Outlet_Size have missing values and we are going to need to address that


*   **For the Outlet_Size column**



> This column represents the size of the store in terms of ground area covered.



> It doesn't have any significant effect on our analysis as it doesn't serve the purpose of our analysis which is to help the retailer understand the properties of products and outlets that play crucial roles in increasing sales.



> So with that said, **I will drop this column from our dataset.**

In [9]:
# Dropping the Outlet_Size column
df.drop(columns='Outlet_Size', inplace=True)

# Checking for missing values again
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64


*   **For the Item_Weight column**



> This column represents the Weight of the product which is gonna be an important thing as it will the weights of products that are having high sales



> I will **fill the missing values** of the Item_Weight column if there are any with the mean weight of the Item_Identifier it has.


> I choose to use the mean to fill the missing values for this column because mean enables us to use the average value/weight and this provides us with roughly the same values for our analysis.

In [10]:
# Group the DataFrame by the Item_Identifier column and calculate the mean weight for each identifier
mean_weights = df.groupby('Item_Identifier')['Item_Weight'].transform('mean')
mean_weights

# Fill the missing values in the Item_Weight column with the mean weight for each identifier
df['Item_Weight'].fillna(mean_weights, inplace=True)

# Checking for missing values in our dataframe again
df.isna().sum()

Item_Identifier              0
Item_Weight                  4
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

Even after doing that. There are still 4 rows that are still missing Item_Weight values. 

We shall just get rid of those 4 rows that have missing weights.

In [22]:
# Dropping the 4 rows that still have missing Item_Weight values
df.dropna(subset=['Item_Weight'], inplace=True)

# checking for missing values again
df.isna().sum()

# Our data now doesn't have any missing values

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

**Great**. We are now **FREE** of missing values

7. **Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent)**

In [12]:
# Iterating through each column to find the column that has inconsistent data
for col in df.columns:
    print("Column:", col)
    print(df[col].value_counts(), "\n")

Column: Item_Identifier
FDG33    10
FDW13    10
FDV60     9
FDU12     9
FDX20     9
         ..
DRF48     1
FDY43     1
FDC23     1
FDO33     1
FDT35     1
Name: Item_Identifier, Length: 1555, dtype: int64

Column: Item_Weight
12.150    105
17.600    102
13.650     89
11.800     86
15.100     86
         ...
6.985       1
6.765       1
12.300      1
7.260       1
7.470       1
Name: Item_Weight, Length: 446, dtype: int64

Column: Item_Fat_Content
Low Fat    5088
Regular    2886
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

Column: Item_Visibility
0.000000    526
0.076975      3
0.107037      2
0.061271      2
0.046825      2
           ...
0.056387      1
0.013957      1
0.110460      1
0.124646      1
0.044878      1
Name: Item_Visibility, Length: 7876, dtype: int64

Column: Item_Type
Fruits and Vegetables    1232
Snack Foods              1199
Household                 910
Frozen Foods              855
Dairy                     681
Canned                    649
Baking Goods              647
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

Column: Item_MRP
172.0422    7
188.1872    6
142.0154    6
170.5422    6
196.5084    6
           ..
83.1934     1
96.6752     1
152.6682    1
180.5660    1
75.4670     1
Name: Item_MRP, Length: 5936, dtype: int64

Column: Outlet_Identifier
OUT013    932
OUT027    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    527
Name: Outlet_Identifier, dtype: int64

Column: Outlet_Establishment_Year
1985    1459
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64

Column: Outlet_Location_Type
Tier 3    3347
Tier 2    2785
Tier 1    2387
Name: Outlet_Location_Type, dtype: int64

Column: Outlet_Type
Supermarket Type1    5577
Grocery Store        1082
Supermarket Type3     932
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

Column: Item_Outlet_Sales
958.7520     17
1342.2528    16
1845.5976    15
703.0848     15
1278.3360    14
             ..
3485.4630     1
4124.6310     1
1614.5650     1
5602.7070     1
2778.3834     1
Name: Item_Outlet_Sales, Length: 3493, dtype: int64

I have noticed the **Item_Fat_Content** column has inconsistent data and I need to fix that.

In [13]:
df['Item_Fat_Content'].value_counts()

Low Fat    5088
Regular    2886
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [18]:
# Replacing values LF, reg, low fat to their appropriate values
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace({'LF': 'Low Fat', 'reg':'Regular', 'low fat': 'Low Fat', 'regular': 'Regular'})
df['Item_Fat_Content'].value_counts()

Low Fat    5516
Regular    3003
Name: Item_Fat_Content, dtype: int64

8. **For any numerical columns, obtain the summary statistics of each (min, max, mean)**

In [15]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8519.000000,8519.000000,8519.000000,8519.000000,8519.000000
mean,12.875420,0.066112,141.010019,1997.837892,2181.188779
std,4.646098,0.051586,62.283594,8.369105,1706.511093
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.785000,0.026983,93.844900,1987.000000,834.247400
50%,12.650000,0.053925,143.047000,1999.000000,1794.331000
75%,16.850000,0.094558,185.676600,2004.000000,3100.630600
max,21.350000,0.328391,266.888400,2009.000000,13086.964800